.navbar {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  a{
      text-decoration: none;
  }
  .btn {
    border-radius: 25px;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .btn-dark {
    background-color: black;
    text-align: center;
  }
  .btn:hover{
      font-size:90%;
  }
  .nav-link {
    color: black;
    font-weight: bold;
  }
  .nav-link:hover {
    color: rgb(11, 95, 11);
    font-size:110%; 
  }
  
  /*Block-1*/
  .block1 {
    height: 300px;
    background-color: #d4e9e2;
    color: rgb(2, 39, 2);
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    text-align: center;
    font-family: "Lander Tall", "Iowan Old Style", Georgia, serif;
    margin-left: 120px;
  }
  .text1 {
    height: 250px;
  }
  h1 {
    font-size: 50px;
    font-family: "Lexend Deca", sans-serif;
    letter-spacing: 0.2em;
  }
  .t1 {
    font-family: "Readex Pro", sans-serif;
    font-size: 22px;
    font-style: bold;
  }
  .link1 {
    color: rgb(33, 121, 33);
    font-size: 24px;
  }
  .sb-1 {
    height: 270px;
    width: 670px;
    margin-right: 60px;
  }
  
  /*OtherBlocks*/
  .block {
    height: 600px;
    background-color: #f0d6dc;
    color: white;
    margin-top: 30px;
    display: flex;
    color: black;
    align-items: center;
  }
  .order {
    background-color: #d50032;
    border: white solid 1px;
    color: white;
    letter-spacing: 1px;
  }
  /*Block-2*/
  .sb2 {
    height: 588px;
    width: 688px;
  }
  .text2 {
    height: 300px;
  }
  /*Block-3*/
  .block3 {
    display: flex;
    justify-content: space-between;
  }
  .sb3 {
    height: 588px;
    width: 688px;
  }
  .text2 {
    height: 300px;
  }
  /*Block-5*/
  .block5 {
    height: 400px;
    /*background-color:#d4e9e2;*/
    background-color: #1f3a35;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sb5 {
    height: 400px;
    width: 700px;
  }
  h3 {
    font-family: "Nunito", sans-serif;
  }
  .text5 {
    color: white;
    text-align: center;
    font-family: "Lander Tall", "Iowan Old Style", Georgia, serif;
    margin-left: 75px;
  }
  .order5 {
    background-color: #1f3a35;
    border: white solid 1px;
    color: white;
    letter-spacing: 1px;
  }
  /*Block-5*/
  .block6 {
    background-color: #d4e9e2;
  }
  .text6 {
    color: rgb(2, 39, 2);
    margin-top: 0%;
    margin-right: 80px;
  }
  .sb6 {
    height: 400px;
    width: 650px;
  }
  .order6 {
    background-color: #d4e9e2;
    border: rgb(2, 39, 2) solid 1px;
    color: rgb(2, 39, 2);
    letter-spacing: 1px;
  }
  /*Footertext*/
  .text7 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: rgb(29, 29, 29);
  }
  .l2 {
    color: rgb(29, 29, 29);
  }
  hr {
    height: 5px;
    border: 0;
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  }
  /* Footer */
  .footer {
    display: flex;
    justify-content: space-around;
    color: grey;
    font-family: "Nunito", sans-serif;
  }
  .Col li {
    margin-top: 25px;
    list-style-type: none;
  }
  h5 {
    color: black;
    font-weight: 400;
  }
  
  /*icons*/
  .icons {
    display: flex;
    justify-content: center;
  }
  
  /*Copyright*/
  .copyright {
    display: flex;
    justify-content: center;
    font-weight: 7px;
  }
  .copyright li {
    display: inline;
    border-left: 1.5px solid grey;
    padding-left: 10px;
    padding-right: 10px;
  }
  .last {
    display: flex;
    justify-content: center;
    color: grey;
  }